<tbody>
<form action = "/welcome/evaluate_score" method="post">
    <% @quiz.questions.each do |question| %>
      <tr>
        <td><%= question.text %></td>
      
  <br>


  <% question.options.each do |option| %>
  <br>
  <div>

  <input type="radio" name= <%= question.id  %> value=<%= option.id %> ><%= option.text %>

  <input type="hidden" name= "quiz_id" value= <%= @quiz.id %> >
  </div>
  <br>
  <% end %>
  
    <% end %>

    <input type="submit"/>
   
      </tr>
      </form>
  </tbody>